.profile-header__inner, .profile-section__inner {
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .profile-header__inner, .profile-section__inner {
    width: calc(100% - 30px);
  }
}

.profile__header {
  padding: 150px 0;
  background-color: #bed636;
  text-align: center;
  color: #fff;
}

.profile__header .profile-header__title {
  font-size: 48px;
}

.profile__header .profile-header__text {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .profile__header {
    padding: 80px 0;
  }
  .profile__header .profile-header__title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .profile__header .profile-header__text {
    font-size: 13px;
  }
}

.profile__section {
  padding: 75px 0;
}

.profile__section:nth-child(2n+1) {
  background-color: #f5f5f5;
}

.profile__section .profile-section__title {
  font-size: 36px;
  color: #bed636;
  margin-bottom: 30px;
  text-align: center;
}

.profile__section .profile-section__text, .profile__section .profile-section__text--center {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 15px;
}

.profile__section .profile-section__text--center {
  text-align: center;
}

.profile__section .profile-imgtext__box {
  display: table;
}

.profile__section .profile-imgtext__box div:last-child {
  padding-left: 30px;
}

.profile__section .profile-imgtext__image, .profile__section .profile-imgtext__body {
  display: table-cell;
  vertical-align: top;
}

.profile__section .profile-imgtext__image img {
  width: 250px;
  height: auto;
}

.profile__section .profile-imgtext__title {
  margin-bottom: 5px;
  font-size: 20px;
}

.profile__section .profile-imgtext__text {
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.8;
}

@media (max-width: 800px) {
  .profile__section {
    padding: 40px 0;
  }
  .profile__section .profile-section__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .profile__section .profile-section__text--center {
    text-align: left;
  }
  .profile__section .profile-imgtext__box {
    display: flex;
    flex-wrap: wrap;
  }
  .profile__section .profile-imgtext__box div:last-child {
    padding-left: 0px;
  }
  .profile__section .profile-imgtext__image, .profile__section .profile-imgtext__body {
    display: block;
  }
  .profile__section .profile-imgtext__image {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .profile__section .profile-imgtext__image img {
    width: 200px;
  }
  .profile__section .profile-imgtext__body {
    order: 2;
  }
  .profile__section .profile-imgtext__title {
    font-size: 18px;
  }
}

.profile__footer {
  font-size: 14px;
  padding: 15px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

@media (max-width: 800px) {
  .profile__section:nth-child(4) img {
    width: 100%;
  }
}
